[Desktop Entry]
Encoding=UTF-8
Name=Link to http://www.standmv12.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/t/standmv12_printemps13_alpinestars_homme_casquette_inzone_red_1.jpg
Type=Link
URL=http://www.standmv12.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/s/t/standmv12_printemps13_alpinestars_homme_casquette_inzone_red_1.jpg
Icon=(null)
