<!doctype html>
<html ng-app="phonecatApp">
    <head>
        <script src="js/angular.js"></script>
        <script src="js/controllers.js"></script>
    </head>
    <body ng-controller="PhoneListCtrl">
        touites
        <select ng-model="touites">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10" selected>10</option>
        </select>
        pages
        <select ng-model="pages">
            <option value="1" >1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select>
        <button ng-click="refresh()">Refresh</button>
        <ul>
            <li ng-repeat="tweet in tweets">
               {{tweet.author_login}}
               <p>{{tweet.content}}</p>
            </li>
        </ul>
    </body>
</html>

